<html>
    <header class="header">
        <div class="head container column">
            <div class="titlebox container just-space">
                <span class="container title">Riley Guerrasio</span>
                <div class="container infos column just-space">
                    <span class="info">Full stack web and app developer</span>
                    <span class="info">Studying CS at UMBC</span>
                </div>
            </div>
            <div class="options container just-space">
                <div class="container butholder column just-space-betw"><div class="container button column" id="projects"><span class="buttontext">Projects</span></div><div class="botborder" id="projB"></div></div>
                <div class="container butholder column just-space-betw"><div class="container button column" id="games"><span class="buttontext">Games</span></div><div class="botborder" id="gameB"></div></div>
                <div class="container butholder column just-space-betw"><div class="container button column" id="animations"><span class="buttontext">Animations</span></div><div class="botborder" id="animB"></div></div>
                <div class="container butholder column just-space-betw"><div class="container button column" id="about"><span class="buttontext">About Me</span></div><div class="botborder" id="abmeB"></div></div>
            </div>
        </div>
    </header>
    <div class="container main">
        <div class="container sidebar">
            <ul class="list" id="list"></ul>
            <div class="container navbut just-space-betw" id="navbut">
                <span class="gotext go">Go</span><span class="gotext arrow">→</span>
            </div>
        </div>
        <div class="container projinfo">

        </div>
    </div>
</html>